*{
  box-sizing: border-box;
}

.App {
  text-align: center;
 
  width: 100%;

}
#formchat{
  transform:scale(1);
}

@media (max-width: 430px){
  #formchat{
    transform:scale(0.8);
  }
}
@media (max-width: 350px){
  #formchat{
    transform:scale(0.7);
  }
}


 