*{
  box-sizing: border-box;
}
:root {
  --vh: 100%; /* fallback */
}
.full-height {
  height: calc(var(--vh, 1vh) * 100) !important;
}

.App {
  text-align: center;
 
  width: 100%;

}
#formchat{
  transform:scale(1);
}

@media (max-width: 430px){
  #formchat{
    transform:scale(0.83);
  }
}
@media (max-width: 350px){
  #formchat{
    transform:scale(0.75);
  }
}


 